* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --blue: #50b7f5;
  --light-background: #e6ecf0;
  --medyoBlack: #191919;
  --violet: #7F00FF;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--light-background);
  border-radius: 30px;
  color: var(--violet);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--violet);
}

.sidebar-out {
  width: 100%;
  background-color: var(--violet);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--light-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--violet);
  font-size: 30px;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--light-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--light-background);
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--light-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--violet);
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* body card */
.container .card {
	position: relative;
	height: 450px;

}

.post .card .user {
	width: 380px;
	height: 450px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}

.post .card .user .profile {
	position: absolute;
	bottom: 20;
	/* left: 20px; */
}

.post .card .user .name {
	color: black;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 5px #444;
}

.post .card .user .name span {
	font-size: 26px;
}

.post .card .local {
	display: flex;
	align-items: center;
	padding: 0 0 20px 0;
}

.post .card .local i {
	margin: 5px 0;
	color: #fff;
}

.post .card .local span {
	color: black;
	padding: 0 10px;
	text-shadow: 1px 1px 5px #444;
}

.post .buttons {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.post .buttons .no i {
	color: #fd2e79;
	font-size: 33px;
}

.post .buttons .star i {
	color: #2bb1ff;
	font-size: 22px;
}

.post .buttons .heart i {
	color: #11e298;
	font-size: 32px;
}

.post .buttons .no,
.post .buttons .star,
.post .buttons .heart {
	background-color: #fff;
	width: 70px;
	height: 70px;
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 70px;
	margin: 4px;
	transition: 0.2s transform;
}

.post .buttons .no:hover,
.post .buttons .star:hover,
.post .buttons .heart:hover {
	transform: scale(1.1);
}

.post .buttons .star {
	width: 60px;
	height: 60px;
}

/* Chats */


.widgets__widgetContainer .header {
	background: var(--violet);
	width: 100%;
	height: 80px;
	box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
	display: flex;
	align-items: center;
	padding: 0 20px;
  border-radius: 10px 50px;
}

.widgets__widgetContainer .header .avatar img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid #fff;
	box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.widgets__widgetContainer .header .title {
	padding: 0 10px;
	color: #fff;
	font-size: 23px;
}

.widgets__widgetContainer .menu ul {
	display: flex;
	padding: 8px 20px;
}

.widgets__widgetContainer .menu ul li {
	list-style: none;
	margin: 0 10px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.5px;
  cursor: pointer;
}

.widgets__widgetContainer .menu .active {
	border-bottom: 3px solid var(--blue);
	padding-bottom: 2px;
}

.widgets__widgetContainer .messages {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	transition: 0.2s box-shadow;
  cursor: pointer;
}

.widgets__widgetContainer .messages .avatar img {
	width: 70px;
	height: 70px;
	border-radius: 70px;
}

.widgets__widgetContainer .messages .user {
	padding: 0 10px;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-size: 18px;
}

.widgets__widgetContainer .messages .text {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 10px;
	font-weight: 300;
	font-size: 15px;
	opacity: 0.8;
}

.widgets__widgetContainer .messages:hover {
	box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
	border-right: 5px solid var(--blue);
}
/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  /* display: flex;
  align-items: flex-start; */
  border-bottom: 1px solid var(--light-background);
  padding-bottom: 10px;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--blue);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--light-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--light-background);
  border: none;
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}
